  @charset "UTF-8"

  
  body{
            font-size:medium; 

            font-family: Arial, Helvetica, sans-serif;


            font-weight: 100px;

            background-color: rgb(99, 64, 32);
        }

        h1 { 
            color: rgb(21, 65, 65);
            background-color: rgb(245, 220, 220);
        }

        h2 {
            color: blue;
            background-color: blueviolet;
        }
        p {
            text-align: justify;
        }
        mark{ background-color: blue;

        }

