<div style="width: 3000px; padding: 10px; margin: 20px; border: 2px solid black;"> 
    <style> 
        body{
            background-color: rgb(181, 154, 128);
        }
        mark{ background-color: blue;

        }
        
    

    </style>
    </div>